* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Cairo", sans-serif;
  background-image: linear-gradient(
      45deg,
      rgba(197, 134, 31, 0.3),
      rgba(178, 77, 11, 0.3)
    ),
    url(../../assets/images/wayImage.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.root {
  padding: 3rem 1rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.root .quote {
  width: 100%;
  max-width: 700px;
  font-size: 2rem;
  text-align: center;
  line-height: 1.6;
  font-weight: 700;
  text-shadow: 0px 0px 5px #fff;
  margin-bottom: 3rem;
  background-color: rgba(255, 165, 0, 0.4);
  padding: 1rem;
  border-radius: 0.5rem;
}

.container {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

.container form {
  position: relative;
  width: 100%;
  background-color: orange;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}

.container form label {
  position: absolute;
  left: -9999999px;
  height: 0;
}

.container form input {
  flex: 1;
  height: 45px;
  font-size: 1.3rem;
  padding: 0.5rem 0.75rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
}

.container form .add_btn {
  height: 45px;
  width: 80px;
  display: grid;
  place-content: center;
  font-size: 2rem;
  color: orange;
  background-color: white;
  padding: 0.4rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.container .todos_list {
  display: flex;
  flex-direction: column;
  background-color: orange;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.container .todos_list .todo {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  animation-name: scaleTodo;
  animation-duration: 0.35s;
  transition: 0.3s ease-in-out;
}

.container .todos_list .todo.done {
  color: #fff;
  background-color: red;
}

.container .todos_list .todo.done .title {
  text-decoration: line-through;
}

.container .todos_list .todo .title {
  flex: 1;
}

.container .todos_list .todo .actions {
  display: flex;
}
.container .todos_list .todo .actions i {
  min-height: 45px;
  min-width: 45px;
  display: grid;
  place-content: center;
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
}

.container .todos_list .todo .actions #delete_icon {
  background-color: red;
  margin-right: 0.5rem;
}

.container .todos_list .todo.done .actions #delete_icon {
  color: red;
  background-color: #fff;
}

.container .todos_list .todo .actions #done_icon {
  background-color: green;
}

@keyframes scaleTodo {
  form {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
